.images {
    max-width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
}
.img {
    max-width: 100%;
    max-height: 250px;
}
button {
    position: absolute;
    top: 45%;
}
.left-arrow {
    left: 35%;
}
.right-arrow {
    right: 35%;
}
span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #000;
}
span:hover {
    cursor: pointer;
}
.active {
    background-color: green;
}